#!/bin/zsh

# Git checkout helper with fuzzy matching
checkout() {
    if [ -z "${1}" ]; then
      printf "\nYour local branches are:\n"
      git branch | sed -e 's/*/  */'
      printf "\n"

      read -p "Which branch would you like to checkout? " branch
    else
      branch=$1
    fi

    branches=$(git branch | egrep -i "${branch// /.*}" | tr -d ' ')
    count=$(echo "$branches" | egrep -c ".")

    if [ "$count" = "1" ]; then
        git checkout $(echo $branches | tr -d '\n' | tr -d '*')
    elif [[ "$count" = "0" ]]; then
        printf "\n"
        read -p "No branches matched. Try again? (y/n) " -n 1;
        if [[ $REPLY =~ ^[Yy]$ ]]; then
          printf "\n"
          checkout;
        fi;
    else
        echo "Your query matched multiple branches:"
        echo "$branches"
    fi
}

branch() {
  if [ -z "${1}" ]; then
    read -p "What is your new branch called? " branch
  else
    branch=$1
  fi

  if [ -z "$branch" ]; then
    echo "Try again…"
    gitcob
    return
  fi

  git fetch origin master
  git checkout -b $branch origin/master
}
