[alias]
  s = status
  d = diff
  dc = diff --cached
  a = add
  aa = add --all
  ap = add -p
  co = checkout
  b = branch
  ba = branch -a
  l = log
  f = fetch
  r = reset
  p = pull
  pr = pull --rebase
  ps = push
  pom = push origin master
  cp = cherry-pick
  up = !git fetch origin && git rebase origin/master
  checkoutr = checkout
  amend = commit --amend
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
  diff-last = diff HEAD~1 HEAD

[color]
  ui = true

[core]
  editor = vim
  excludesfile = /Users/mike_fowler/.gitignore_global
  precomposeunicode = true

[push]
  default = current

[rerere]
  enabled = 1

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[user]
  name = Mike Fowler
  email = mike.fowler@airbnb.com

[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f

[log]
  decorate = short
