[push]
  autoSetupRemote = true
  default = current
[rerere]
  enabled = true
[user]
  name = Mike Fowler
  email = {{ .email }}
[core]
  precomposeunicode = true
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global