{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
  autojump
  curl
  fzf
  git
  nvm
  wget
  yarn
  antibody
)

# casks=()

brew update

brew install ${formulae[@]}
# brew install --cask ${casks[@]}

brew cleanup
{{ end }}
